.row{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    overflow: auto;
    transition:  all 500ms;
}
.general-noticia{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    padding-top: 14rem;
}
/*Favorita*/

.imagen-noticia{
    width: 250px;
    height: 250px;
}

/*Menu comprimido*/
app-menu-comprimido{
    top: 80%;
    position: absolute;
    left: 88%;
    opacity: 80%;
}