<div class="row-lg-12">
    <h1>Procesos Mentius</h1>
    <div class="col-lg-4 procesos">
      <div class="fondos">
        <h3>Recursos Humanos</h3>
        <p>Estamos para apoyarte!!!</p>
        <a [routerLink]="['/recursos-humanos']" class="btn btn-info">
            Conocenos
        </a>
      </div> 
        <img src="../../../assets/img/fondosProcesos/rrhh.jpg" class="img-proceso">
    </div>
    <div class="col-lg-4 procesos">
        <div class="fondos">
          <h3>Desarollo</h3>
          <p>En busca de lo incríble!!!</p>
          <a [routerLink]="['/desarrollo']" class="btn btn-info">
            Conocenos
        </a>
        </div> 
          <img src="../../../assets/img/fondosProcesos/desarrollo.jpg" class="img-proceso">
    </div>
</div>