<app-menus></app-menus>

<div class="col-lg-12 perfilGeneral">
    <h1><span>{{title}}</span></h1>
    <h2>Welcome {{ identity.name }}</h2>
    <div class="row-lg-12">
        <div class="adm-perfiles">
            <a [routerLink]="['/perfil',identity._id]" class="perfiles">
                <img src="../../../assets/img/perfiles/logoLaboral.png">
                <span>Perfil Laboral</span>
            </a>
            <a [routerLink]="['/perfil-academico',identity._id]" class="perfiles">
                <img src="../../../assets/img/perfiles/logoAcademico.png">
                <span>Perfil academico</span>
            </a>
            <a [routerLink]="['/salud',identity._id]" class="perfiles">
                <img src="../../../assets/img/perfiles/logoSalud.png">
                <span>Salud</span>
            </a>
            <a [routerLink]="['/perfil-generalidades',identity._id]" class="perfiles">
                <img src="../../../assets/img/perfiles/logoG.png">
                <span>Generalidades</span>
            </a>
        </div>
    </div>
</div>