<div class="container-fluid" *ngIf="identity">
    <div class="container">
        <nav>
            <ul>          
                <li>
                    <a [routerLink]="['/Mentius']">Piesas Graficas</a>
                </li>
                <li>
                    <a [routerLink]="['/Mentius']">Piezas Ofertas</a>
                </li>
                <li>
                    <a [routerLink]="['/Mentius']">Equipo</a>
                </li>
                <li>
                    <a [routerLink]="['/Mentius']">Regresar</a>
                </li>
                <li>
                    <a class="pointer" (click)="logout()">
                        {{identity.name}}
                    <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>            
        </nav>
        <div class="row">
            <div class="col-6 sombreado">
                <h1 id="mentius">Proceso<br>
                    <span id="titulo">de Diseño</span></h1>
                </div>
            <div class="col-6">
                <app-menu-comprimido
                [menu]="menus"
                ></app-menu-comprimido>
            </div>
        </div>
    </div>
</div>