h1{
    font-family: monospace;
    color: #34A5B2;
}
app-vacacion{
    display: contents;
}
.container-fluid{
    padding: 15rem;
    padding-bottom: 25rem;
    height: max-content;
}
.container{
    padding-top: 5rem;
}