<app-menus></app-menus>
<div class="container-fluid">
    <div class="row-lg-12">
        <h1>{{title}}</h1>
        <div class="col-lg-4 procesos">
            <div class="fondos">
                <h3>Selección</h3>
                <p>Estamos para apoyarte!!!</p>
                <a [routerLink]="['/recursos-humanos']" class="btn btn-info">
                    Conocenos
                </a>
            </div>
            <img src="../../../assets/img/fondosProcesos/rrhh.jpg" class="img-proceso">
        </div>
        <div class="col-lg-4 procesos">
            <div class="fondos">
                <h3>Reclutamiento</h3>
                <p>En busca de lo incríble!!!</p>
                <a [routerLink]="['/reclutamiento']" class="btn btn-info">
                    Conocenos
                </a>
            </div>
            <img src="../../../assets/img/fondosProcesos/desarrollo.jpg" class="img-proceso">
        </div>
        <div class="col-lg-4 procesos">
            <div class="fondos">
                <h3>Oferta laboral</h3>
                <p>Solicita tu personal aqui!!!</p>
                <a [routerLink]="['/ofertas-laborales']" class="btn btn-info">
                    Solicitud
                </a>
            </div>
            <img src="../../../assets/img/fondosProcesos/desarrollo.jpg" class="img-proceso">
        </div>
    </div>
    <div class="row-lg-12 espacio">
        <div class="col-lg-4 procesos">
            <div class="fondos">
                <h3>Equipo</h3>
                <p>Estamos para apoyarte!!!</p>
                <a [routerLink]="['/recursos-humanos']" class="btn btn-info">
                    Conocenos
                </a>
            </div>
            <img src="../../../assets/img/fondosProcesos/rrhh.jpg" class="img-proceso">
        </div>
    </div>
</div>
<app-footer></app-footer>