.container{
    background: url(../../../assets/img/rrhh/logoMarcaAgua.png);
    background-repeat: no-repeat;
    background-position: center;
}

#logos{
    display: flex;
    justify-content: flex-end;
    margin-top: 55px;
}
#logo{
    max-width: 350px;
}
h2{
    font-size: 35px;
    text-align: center;
    margin-bottom: 75px;
}
p{
    text-align: justify;
    font-size: 25px;
    line-height: 70px;
}
#firma{
    max-width: 350px;
}

.regreso{
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 90%;
    background: #194764;
    padding: 25px;
    border-radius: 30px;
}
.regreso a{
    color: white;
}