<app-menus></app-menus>
<div class="row-lg-12 contenedor">
    <div class="col-lg-4">
        <h1 class="h1-strong">
            {{title}}
        </h1>

        <div class="people">
            <div *ngFor="let user of users" class="item-user">
                <app-perfil-mentius [user]="user" (MarcarFavorita)="mostrarFavorita($event)">
                </app-perfil-mentius>
            </div>
        </div>
    </div>
    <div class="col-lg-8" id="favorita" *ngIf="!favorita">
        <img src="../../../assets/img/logotopo_slogan_R_Arriba.png" id="imagenPrincipal">
    </div>
    <div class="col-lg-8" id="favorita" *ngIf="favorita">
        <h2 class="subheader">
            {{ favorita.name | uppercase }}
        </h2>
        <img src="{{ url+'get-image-user/'+ favorita.image }}" class="imagen-usuario" />
        <h4>
           Cargo: {{ favorita.cargo }}
        </h4>
        <h4>
            E mail: {{ favorita.email }}
        </h4>
    </div>
</div>
<app-footer></app-footer>