.img-avatar{
    max-width: 55px;
    max-height: 55px;
}
#favorita img{
    max-width: 50%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
}
.people{
    display: flex;
    flex-direction: column;
    max-height: 77vh;
    overflow: auto;
}
.imagen-usuario{
    max-height: 50vh;
    width: 40%;
    height: 40vh;
    border-radius: 35px;
    box-shadow: #2e2e2e 0px 0px 20px 7px;
}
#favorita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.subheader{
    padding: 25px;
    font-size: 45px;
    font-family: monospace;
    font-weight: 100;
}