<app-menus></app-menus>

<div class="col-lg-12 registros">
    <div class="container">
        <h1 class="h1-strong">{{ title }}</h1>
        <div class="alert alert-success" *ngIf="status == 'success'">
            Registro completado correctament
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Registro no se ha realizado. Ya tienes una solicitud en proceso
        </div>

        <form #registerVacacionesForm="ngForm" (ngSubmit)="onSubmit(registerVacacionesForm)" class="col-lg-12">
            <div class="col-lg-6">
                <h2>{{identity.name}}</h2>
                     <p style="display: none;">
                    <label>User</label>
                    <input type="text" name="user" class="form-control" required value="{{identity.id}}"
                        disabled="" id="disable" />
                </p>
                <p style="display: none;">
                    <label>name</label>
                    <input type="text" name="name" class="form-control" required value="{{identity.name}}"
                        disabled="" id="disable" />
                </p>
                <h3>
                    Fecha de solicitud: {{fecha | date:'short'}}
                </h3>
            </div>
            <div class="col-lg-6">
                <p>
                    <label>Fecha inicio de sus vacaciones</label>
                    <input type="date" name="fechaInicio" #fechaInicio="ngModel" [(ngModel)]="vacaciones.fechaInicio"
                        class="form-control" required
                        value="{{ vacaciones.fechaInicio | date:'yyyy-MM-dd'}}"
                                min="{{ fechas() | date:'yyyy-MM-dd'}}"
                        />
                    <span *ngIf="!fechaInicio.valid && fechaInicio.touched">
                        fechaInicio
                    </span>
                </p>
                <p>
                    <label>Fecha final de sus vacaciones</label>
                    <input type="date" name="fechaFin" #fechaFin="ngModel" [(ngModel)]="vacaciones.fechaFin" class="form-control"
                        required 
                        value="{{ vacaciones.fechaInicio | date:'yyyy-MM-dd'}}"
                        min="{{ fechas() | date:'yyyy-MM-dd'}}"/>
                    <span *ngIf="!fechaFin.valid && fechaFin.touched">
                        fechaFin
                    </span>
                </p>
            </div>
            <div class="col-lg-12 text-center">
                <input type="submit" value="Solicitar" class="btn btn-succes" [disabled]="!registerVacacionesForm.form.valid" />
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>