.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #3f3b6c, #4c5e8a, #6081a5, #7ea4be, #a3c7d6);
}
img{
    max-width: 250px;
}